# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [28]:
# Your code here
import pandas as pd
verunsicherung = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")



#print("here are all the columns:")
verunsicherung.columns

verunsicherung.columns = ['customer', 'state', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'open_complaints','policy_type', 'vehicle_class', 'total_claims']
print(verunsicherung)

     customer       state gender             education  \
0     RB50392  Washington    NaN                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below
...       ...         ...    ...                   ...
4003      NaN         NaN    NaN                   NaN
4004      NaN         NaN    NaN                   NaN
4005      NaN         NaN    NaN                   NaN
4006      NaN         NaN    NaN                   NaN
4007      NaN         NaN    NaN                   NaN

     customer_lifetime_value   income  monthly_premium_auto open_complaints  \
0                        NaN      0.0                1000.0          1/0/00
1                 697953.59%      0.0                  94.0          1/0/00
2                1288743.17%  48767.0                 108.0          1/0/00
3                 764586.18%      0.0                 106.0          1/0/00
4                 536307.65%  36357.0                  68.0          1/0/00
...                      ...      ...                   ...             ...
4003                     NaN      NaN                   NaN             NaN
4004                     NaN      NaN                   NaN             NaN
4005                     NaN      NaN                   NaN             NaN
4006                     NaN      NaN                   NaN             NaN
4007                     NaN      NaN                   NaN             NaN

         policy_type  vehicle_class  total_claims
0      Personal Auto  Four-Door Car      2.704934
1      Personal Auto  Four-Door Car   1131.464935
2      Personal Auto   Two-Door Car    566.472247
3     Corporate Auto            SUV    529.881344
4      Personal Auto  Four-Door Car     17.269323
...              ...            ...           ...
4003             NaN            NaN           NaN
4004             NaN            NaN           NaN
4005             NaN            NaN           NaN
4006             NaN            NaN           NaN
4007             NaN            NaN           NaN

[4008 rows x 11 columns]

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [29]:
 # Cleaning gender column

def clean_col1(df: pd.DataFrame):
    df2 = df.copy()
   
    df2['gender'] = df2['gender'].str.upper().replace({'FEMALE': 'F', 'MALE': 'M'})
    return df2

verunsicherung_cleaned = clean_col1(verunsicherung)
print(verunsicherung_cleaned)

 # Cleaning state abbreviations column
    
    
 # Cleaning education column

def clean_col1(df: pd.DataFrame):
    df2 = df.copy()
    
    df2['education'] = df2['education'].str.upper().replace({'Bachelors': 'Bachelor'})
    return df2

 # Cleaning CLV column
    
# Cleaning vehicle class 
def clean_col1(df: pd.DataFrame):
    df2 = df.copy()
   
    df2['vehicle_class'] = df2['vehicle_class'].str.upper().replace({'Luxury SUV': 'Luxury', 'Sports Car': 'Luxury', 'Luxury Car': 'Luxury'})
    return df2

     customer       state gender             education  \
0     RB50392  Washington    NaN                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below
...       ...         ...    ...                   ...
4003      NaN         NaN    NaN                   NaN
4004      NaN         NaN    NaN                   NaN
4005      NaN         NaN    NaN                   NaN
4006      NaN         NaN    NaN                   NaN
4007      NaN         NaN    NaN                   NaN

     customer_lifetime_value   income  monthly_premium_auto open_complaints  \
0                        NaN      0.0                1000.0          1/0/00
1                 697953.59%      0.0                  94.0          1/0/00
2                1288743.17%  48767.0                 108.0          1/0/00
3                 764586.18%      0.0                 106.0          1/0/00
4                 536307.65%  36357.0                  68.0          1/0/00
...                      ...      ...                   ...             ...
4003                     NaN      NaN                   NaN             NaN
4004                     NaN      NaN                   NaN             NaN
4005                     NaN      NaN                   NaN             NaN
4006                     NaN      NaN                   NaN             NaN
4007                     NaN      NaN                   NaN             NaN

         policy_type  vehicle_class  total_claims
0      Personal Auto  Four-Door Car      2.704934
1      Personal Auto  Four-Door Car   1131.464935
2      Personal Auto   Two-Door Car    566.472247
3     Corporate Auto            SUV    529.881344
4      Personal Auto  Four-Door Car     17.269323
...              ...            ...           ...
4003             NaN            NaN           NaN
4004             NaN            NaN           NaN
4005             NaN            NaN           NaN
4006             NaN            NaN           NaN
4007             NaN            NaN           NaN

[4008 rows x 11 columns]

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [30]:
# Your code here
df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')

def extract_complaints(complaint):
    # Split the complaint string by '/' and extract the middle value
    return int(complaint.split('/')[1])

df['open_complaints'] = df['open_complaints'].apply(extract_complaints)

# Print the updated data types of the columns
print(df.dtypes)

NameError: name 'df' is not defined

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [ ]:
# Your code here
# Identify columns with null or missing values and count null values
null_counts = df.isnull().sum()
print("Columns with null values and their counts:")
print(null_counts)

# Strategy for handling null values:
# For numeric columns, fill null values with the mean
# For categorical columns, fill null values with the mode
# For simplicity, drop rows with null values for now

# Fill null values in numeric columns with mean
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())

# Fill null values in categorical columns with mode (not implemented due to absence of categorical columns)

# Drop rows with remaining null values
df = df.dropna()

# Verify that null values have been handled
print("Columns with null values after handling:")
print(df.isnull().sum())

# Convert all numeric variables to integers
df[numeric_cols] = df[numeric_cols].astype(int)

# Display the DataFrame after handling null values and converting numeric variables to integers
print("DataFrame after handling null values and converting to integers:")
print(df)

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [27]:
# Your code here

# Identify duplicate rows
duplicate_rows = df[df.duplicated()]

# Display duplicate rows
print("Duplicate rows:")
print(duplicate_rows)

# Strategy for handling duplicates:
# Keep only the first occurrence of each duplicated row

# Drop duplicate rows and reset index
df_cleaned = df.drop_duplicates()

# Verify that duplicates have been handled
print("Duplicate rows after handling:")
print(df_cleaned[df_cleaned.duplicated()])

# Save the cleaned dataset to a new CSV file
df_cleaned.to_csv("cleaned_file.csv", index=False)

NameError: name 'df' is not defined

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here